textarea[name="write-post-text-enter"]::-webkit-scrollbar {
    width: 5px;
    height: 20%;
  }
  
  textarea[name="write-post-text-enter"]::-webkit-scrollbar-track {
    background-color: var(--box-background);
    border-radius: 10px;
  }
  
  textarea[name="write-post-text-enter"]::-webkit-scrollbar-thumb{
    background-color: var(--font-color);
    border-radius: 15px;
    border: 1px solid transparent;
    background-clip: content-box;
  }
  