@import 'variables.css';

* {
  padding: 0;
  margin: 0;
  color: #2D4739;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: var(--global-background);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#blog-posts::-webkit-scrollbar {
  width: 15px;
}

#blog-posts::-webkit-scrollbar-track {
  background-color: var(--global-background);
  border-radius: 10px;
}

#blog-posts::-webkit-scrollbar-thumb{
  background-color: var(--box-background);
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: content-box;
}

textarea[name="write-post-text-enter"]::-webkit-scrollbar {
  width: 5px;
  height: 20%;
}

textarea[name="write-post-text-enter"]::-webkit-scrollbar-track {
  background-color: var(--box-background);
  border-radius: 10px;
}

textarea[name="write-post-text-enter"]::-webkit-scrollbar-thumb{
  background-color: var(--font-color);
  border-radius: 15px;
  border: 1px solid transparent;
  background-clip: content-box;
}

#main-div {
  margin: 0 20px;
  height: 88vh;
  width: 88vw;
  display:flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  border: 5px solid red;
}

#header-div {
  border:5px solid green;
  width:100%;
  display:flex;
  justify-content: end;
}

#header-div > a{
  text-decoration: none;
}

#sign-in-btn, #sign-up-btn, #sign-out-btn, #home-btn{
  margin-left:15px;
  font-size: 18px;
}

#home-div {
  border: 5px solid purple;
  height: 100%;
  width:100%;
}


#blog-name, h1[name="blog-post"], textarea[name="write-post-text-enter"] {
  background-color: var(--box-background);
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

#blog-name {
  font-size: 25px;
  text-align: center;
  width: 60%;
  border: 5px solid green;
  box-shadow: 0 0 5px black;
}

#blog-author {
  font-size: 20px;
}

#blog-posts-container {
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
}

button[name="create-btn"], button[name="publish-btn"] {
  background-color: var(--box-background);
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  display:block;
  margin: 5px auto;
  border-radius: 20px;
  text-align: center;
  border: 3px solid var(--global-background);
}

button[name="create-btn"]:focus, button[name="publish-btn"]:focus {
  box-shadow: 0 0 5px black;
  outline: none;
  border: 3px solid var(--font-color);
}

#blog-posts {
  background-color: var(--global-background);
  display:block;
  border: 5px solid blue;
  resize: none;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

h1[name="blog-post"] {
  width:90%;
  margin-left:auto;
  margin-right:auto;
  
  word-break: break-word;
  line-height: 13px;
  text-align: left;
  font-size: 13px;
  box-shadow: 0 0 5px black;

  font-weight: bold;
}

textarea[name="write-post-text-enter"] {
  width:90%;
  margin-left:auto;
  margin-right:auto;
  display: block;
  resize: none;

  line-height: 13px;
  font-size: 13px;
  padding:10px;
  border: 3px solid var(--box-background);
  box-shadow: 0 0 5px black;

  font-weight: bold;
}

textarea[name="write-post-text-enter"]:focus {
  box-shadow: 0 0 5px black;
  outline: none;
  border: 3px solid var(--font-color);
}