@import '../styles/variables.css';

* {
  padding: 0;
  margin: 0;
  color: #2D4739;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: var(--global-background);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-div {
  margin: 0 20px;
  height: 88vh;
  width: 88vw;
  display:flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  border: 5px solid red;
}